* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.lowercase {
    font-weight: normal !important;
    color: #221F20;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    width: 100%;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background: rgba(225, 225, 225, 0.3);
}

.myHeader.scrolled {
    background-color: white;
}

header:hover {
    background: white;
    opacity: 1;
}


/*------LOGO----*/

.logo {
    flex: 1;
}

.logo img {
    height: 70px !important;
    width: 200px !important;
}


/*-----MENU------*/

.menu {
    flex: 3;
    display: flex;
}

.menu>li {
    padding: 0px 12px;
    position: relative;
}

.sub-menu {
    position: absolute;
    width: 200px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    padding: 10px 0px 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.1s;
    z-index: 1;
}

.sub-menu ul {
    padding-left: 10px;
}

.menu .sub-menu ul a {
    font-weight: normal !important;
    font-size: 14px;
}

.menu>li:hover .sub-menu {
    visibility: visible;
    top: 30px;
}

.menu a:hover {
    color: #070707;
    opacity: 0.6;
}

.menu>li a {
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none !important;
}


/*-----ORTHERS-----*/

.orthers {
    flex: 1;
    display: flex;
}

.orthers>li {
    padding: 0px 12px;
    position: relative;
}

.orthers li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    position: absolute;
    background: #807b7b;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.orthers li:last-child::after {
    display: none;
}

.orthers>li:first-child {
    position: relative;
}

.orthers>li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}

.orthers>li:first-child i {
    position: absolute;
    right: 10px;
}


/*------- Slider --------*/

.slider img {
    width: 100% !important;
    height: 670px !important;
}

.carousel-indicators li {
    background-color: #ccc;
}

.carousel-indicators .active {
    background-color: #333;
}


/*------ Register -------*/

.register-container {
    width: 100% !important;
    height: 350px !important;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    padding: 80px 0 50px 0;
    background-color: #EFEFF4;
}

.register-container h2 {
    color: #070707;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.register-container p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #070707;
}

.register-container form input {
    width: 35%;
    height: 44px;
    padding-left: 10px;
    line-height: 44px;
    background: #FFFFFF;
    border: 1px solid #C8C7CC;
    margin-right: -10px;
}

.register-container form button {
    padding: 0 40px;
    background: #070707;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    height: 46px;
    line-height: 44px;
    color: #EFEFF4;
}

.register-container .rounded-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 30px;
    border-radius: 50%;
    color: white;
    margin-right: 10px;
    text-decoration: none;
}


/*--------------------------- Footer ---------------------------*/

footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

footer .footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}

footer .footer-top li a:hover {
    opacity: 0.6;
    color: #070707;
    text-decoration: none !important;
}

footer .footer-top img {
    height: 50px;
}

footer .footer-top li {
    padding: 0px 12px;
    position: relative;
}

footer .footer-top .fa {
    margin-left: 8px;
}

footer .footer-top li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

footer .footer-top li:last-child::after {
    display: none;
}