<!doctype html>
<html lang="en">

<head>
    <title>PTIT Shop</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PTIT-Shop</title>

    <!-- Bootstrap CSS -->
    <!-- <?php require_once './mvc/views/shopping/libcss.php'; ?> -->
    <link rel="stylesheet" href="/src/webshopping/public/css/informationUser.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- <?php require_once './mvc/views/shopping/header.php'; ?> -->

    <!--****** INFORMATION ****** -->

    <main id="main" class="site-main">
        <div class="container">
            <div class="order-wrapper mt-40 my-account">
                <div class="row">
                    <div class="col-lg-4 col-xl-auto">
                        <div class="order-sidemenu block-border">
                            <div class="order-sidemenu__user">
                                <div class="order-sidemenu__user-avatar">
                                    <img src="https://pubcdn.ivymoda.com/ivy2//images/v2/assets/user-avatar-placeholder.png" alt="">
                                </div>
                                <div class="order-sidemenu__user-name">
                                    <p>Lê Bình</p>
                                </div>
                            </div>
                            <div class="order-sidemenu__menu">
                                <ul class="menu_side">
                                    <li class="active">
                                        <a href=""><span class="fa fa-user"></span>Thông tin tài khoản</a>
                                    </li>
                                    <li class="">
                                        <a href=""><span class="fa fa-file"></span>Quản lý đơn hàng</a>
                                    </li>
                                    <li class="">
                                        <a href=""><span class="fa fa-key"></span>Đổi mật khẩu</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-3xl-1"></div>
                    <div class="col-lg-8 col-xl">
                        <div class="order-block__title">
                            <h2 style="font-family: initial; font-size: 28px; font-weight:bold;">TÀI KHOẢN CỦA TÔI</h2>
                        </div>
                        <div class="order-block my-account-wrapper row">
                            <p class="alert alert-primary">"Vì chính sách an toàn thẻ, bạn không thể thay đổi gmail. Vui lòng liên hệ CSKH 0905898683 để được hỗ trợ"</p>
                            <div class="col-md-7">
                                <form enctype="application/x-www-form-urlencoded" name="frm_register" method="post" action="">
                                    <div class="row form-group">
                                        <div class="col col-label">
                                            <label>Họ tên</label>
                                        </div>
                                        <div class="col col-input">
                                            <input class="form-control" value="Lê Hoài Duy Bình" type="text">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-label">
                                            <label>Số điện thoại</label>
                                        </div>
                                        <div class="col col-input has-button">
                                            <input value="0707427559" class="form-control" type="text" id="customer_phone">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-label">
                                            <label>Email</label>
                                        </div>
                                        <div class="col col-input has-button">
                                            <input class="form-control" type="text" value="lehoaiduybinh.pch.2b7.97@gmail.com" id="customer_email" name="customer_email" disabled="disabled">
                                        </div>
                                    </div>

                                    <div class="col col-label"></div>
                                    <div class="col-12 col-input form-buttons">
                                        <button class="btn btn--large">Cập nhật</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- <?php require_once './mvc/views/shopping/footer.php'; ?> -->

</body>

</html>